body {
  background-color: #333;
  font-family: Helvetica;
}

.container {
  height: 100vh;
  width: 100%;
  padding-top: 5rem; /*O padding serve para que coloquemos o nosso iten de dentro do container, a distancia definida do topo da aba no chrome para baixo.*/
  display: flex;
  justify-content: center; /*Serve para deixarmos o conteudo no centro da janela do navegador*/
}

.clock {
  font-size: 3rem; /*TAM do número ou fonte*/
  font-weight: bold; /*Estilo da Fonte*/
  color: #fff; /*Cor da Fonte*/
  text-align: center;
  border: 3px solid #fff; /*Grossura da caixa em volta da fonte*/
  border-radius: 1rem; /*Cincunferencia da caixa em volta da fonte*/
  padding: 1rem 2rem; /*A posição do relógio dentro da caixa*/
  height: 80px; /*Altura da BOX em volta da nossa fonte, de Baixo para CIMA*/
  display: flex; /*Centralizar Verticalmente a fonte dentro da BOX*/
  align-items: center; /*Faz com que os itens fiquem dentro do relógio*/
}

.clock span {
  margin-right: 0.5rem; /*Aqui temos a atualização do conteudo passado oara o relogio*/
}